header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 2px 2px 5px #999;
}

header p{
    margin: 0px !important;
}

#logo {
    max-width: 11em;
}

#logo:hover {
    cursor: pointer;
}
