.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 2px 2px 5px #999;
    
}
.medio{
    padding: 10px;
    
}
header p{
    margin: 0px !important;
}
.final{
    color: #999;
    position:absolute; 
    bottom:1px; 
    width:100%;  
    text-align:center;
}
.otro{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}