<header>
    <div class="header">
        <img src="assets/imgs/logo-horizontal.png" style="width: 150px;">
        <p>¿Cómo se pone la fecha?</p>
        <p>¡Hola,<strong> UserName!</strong><span><mat-icon>account_circle</mat-icon></span></p>
    </div>
    
</header>
<br>
<div class="medio">
    <p style="font-size: 22px;">Analisis realizados</p>
    <p><button mat-raised-button color="accent" style="color: white; font-size: 18px;" routerLink="/visualizacion">+ Nuevo</button></p>
</div>
<hr class="otro">

    <div class="tarjeta">
        <div class="ambos">
        <p style="color: #999;">Fecha</p>
        <p style="font-weight: bold;">Analisis de finanzas</p>
        <p style="color: #999;"><span style="font-weight: bold;">Datos:</span> datos.csv</p>
        </div>
        <mat-icon style="color: #999;">save_alt</mat-icon>
       
    </div>
<div class="final">
<hr>
<footer>
    <p>SAAD</p>
</footer>
</div>