<header-component></header-component>
<br />
<div class="medio">
  <p style="font-size: 22px">Analisis realizados</p>
  <p>
    <button
     (click)="showModal = true"
      mat-raised-button
      color="accent"
      style="color: white; font-size: 18px"
    >
      + Nuevo Análisis
    </button>
  </p>
</div>

<hr class="otro" />

<div  class="contenedor">
<div class="tarjeta" *ngFor="let analisis of listaAnalisis">
  <div class="ambos">
    <p style="color: #999">{{analisis.fecha}}</p>
    <p style="font-weight: bold">{{analisis.nombre}}</p>
    <p style="color: #999">
      <span style="font-weight: bold">Datos:</span> {{analisis.archivo}}
    </p>
  </div>
  <button mat-icon-button>
    <mat-icon style="color: #999">save_alt</mat-icon>
  </button>
</div>
</div>
<app-analmodal *ngIf="showModal" (onClose)="onClose($event)"></app-analmodal>

<footer-component></footer-component>
