<header-component></header-component>
<br>
<div class="medio">
    <p style="font-size: 22px;">Analisis realizados</p>
    <p><button mat-raised-button color="accent" style="color: white; font-size: 18px;" routerLink="/visualization">+ Nuevo</button></p>
</div>

<hr class="otro">

    <div class="tarjeta">
        <div class="ambos">
            <p style="color: #999;">Fecha</p>
            <p style="font-weight: bold;">Analisis de finanzas</p>
            <p style="color: #999;"><span style="font-weight: bold;">Datos:</span> datos.csv</p>
        </div>
        <button mat-icon-button><mat-icon style="color: #999;">save_alt</mat-icon></button>
        
       
    </div>
<footer-component></footer-component>