.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 2px 2px 5px #999;
    
}

.medio{
    display: flex;
    gap: 10px;
    padding: 10px;
}
header p{
    margin: 0px !important;
}

.otro{
    border: 0;
    height: 1px;
    background-color: #999;
    width: 98%;
}

.conjunto{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 0.3fr;
    gap: 20px;
    /* align-items: center; */
    /* justify-content: space-between; */
    padding: 20px;
}

mat-progress-spinner { 
    width: 20px;
}

.table-container {
    height: 60vh;
    overflow-y: auto;
}

table {
    width: 100%;
}