.background {
    background: url("src/assets/imgs/wallpaper.png");
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

router-outlet {
    z-index: 1;
}

.active {
    color: red;
}

.not-active {
    display: none;
}
