<div class="container">
    <div class="main-container">
        <div class="main">
            <div class="main-fields">
                <p style="font-size: 36px; font-weight: bold;">Crear una cuenta</p>
                <br>
                <br>
                <p>
                    <mat-form-field appearance="outline" color="accent" [style.width.px]=300>
                        <mat-label>Nombre</mat-label>
                        <input matInput [formControl]="nameFormControl" [errorStateMatcher]="matcher" matInput placeholder="Jesucristo Super Estrella">
                        <mat-icon matPrefix style="color: #888888;">account_circle</mat-icon>
                        <mat-error *ngIf="nameFormControl.hasError('name') && !nameFormControl.hasError('required')">
                            Introduzca un nombre
                        </mat-error>
                        <mat-error *ngIf="nameFormControl.hasError('required')">
                            Se requiere un nombre
                        </mat-error>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline" color="accent" [style.width.px]=300>
                        <mat-label>Correo electrónico</mat-label>
                        <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher" placeholder="example@example.com">
                        <mat-icon matPrefix style="color: #888888;">email</mat-icon>
                        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                            Introduzca un correo electrónico valido
                          </mat-error>
                          <mat-error *ngIf="emailFormControl.hasError('required')">
                            Se requiere un correo electrónico
                          </mat-error>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline" color="accent" [style.width.px]=300>
                        <mat-label>Contraseña</mat-label>
                        <input type="password" matInput [formControl]="passwordFormControl" placeholder="*****">
                        <mat-icon matPrefix style="color: #888888;">lock</mat-icon>
                        <mat-error *ngIf="passwordFormControl.hasError('required')">
                            Se requiere una contraseña
                        </mat-error>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline" color="accent" [style.width.px]=300>
                        <mat-label>Contraseña</mat-label>
                        <input type="password" matInput [formControl]="confirmPasswordFormControl" placeholder="*****">
                        <mat-icon matPrefix style="color: #888888;">lock</mat-icon>
                        <mat-error *ngIf="confirmPasswordFormControl.hasError('required')">
                            Se requiere confirmar la contraseña
                        </mat-error>
                    </mat-form-field>
                </p>
            </div>
                <p><button mat-raised-button color="accent" style="color: white;" routerLink="/">Registrarse</button></p>
                <p><span>¿Ya tienes cuenta?</span> <span class="login-span" style="color: #219EBC; font-weight: bold;" routerLink= "/"> Iniciar Sesión</span></p>
                 <img src="assets/imgs/logo-horizontal.png" style="width: 150px;">
            
        </div>
    </div>
</div>