
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

// $saad-primary: mat.define-palette(mat.$indigo-palette);

$saad-blue-palette: (
  50:#e2f7ff,
  100:#b7ecfd,
  200: #88e1fb,
  300:#5bd4f7,
  400: #3dcbf1,
  500: #32c2ec,
  600: #2cb2d7,
  700: #219dbc,
  800: #1889a3,
  900: #046775,
  contrast: (
    50: rgba(black, 0.87),
   100: rgba(black, 0.87),
   200: rgba(black, 0.87),
  )
);


$saad-yellow-palette: (
  50: #fff9e1,
  100: #feeeb4,
  200: #fee384,
  300: #fed951,
  400: #fece2b,
  500: #ffc60d,
  600: #ffb803,
  700: #ffa500,
  800: #ff9400,
  900: #ff7400,
  contrast: (
    50: rgba(black, 0.87),
   100: rgba(black, 0.87),
   200: rgba(black, 0.87),
  )
);


$saad-primary: mat.define-palette($saad-blue-palette);
$saad-accent: mat.define-palette($saad-yellow-palette);
// $saad-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$saad-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$saad-theme: mat.define-light-theme((
  color: (
    primary: $saad-primary,
    accent: $saad-accent,
    warn: $saad-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($saad-theme);

